In [1]:
import pandas as pd

# Let's check if the values are number
def is_number(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Load the CSV file
input_file_path = "C:/Users/h/Desktop/Challange Files/Challenge Files/CDPOS.csv"
output_file_path = 'CDPOS_clean.csv' 

# Read CSV and specify dtype for all columns as string, except for VALUE_OLD and VALUE_NEW to ensure data integrity
dtypes = {
    'MANDANT': str, 'OBJECTCLAS': str, 'OBJECTID': str, 'CHANGENR': str,
    'TABNAME': str, 'TABKEY': str, 'FNAME': str, 'CHNGIND': str,
    'VALUE_NEW': object, 'VALUE_OLD': object
}

CDPOS = pd.read_csv(input_file_path, dtype=dtypes, encoding='utf-8')

# Replace non-numeric values in "VALUE_NEW" and "VALUE_OLD" columns with 0
CDPOS ['VALUE_NEW'] = CDPOS ['VALUE_NEW'].apply(lambda x: x if is_number(x) else 0)
CDPOS ['VALUE_OLD'] = CDPOS ['VALUE_OLD'].apply(lambda x: x if is_number(x) else 0)

# Save the cleaned DataFrame to a new CSV file
CDPOS.to_csv(output_file_path, index=False, encoding='utf-8')

# Display the cleaned DataFrame to confirm changes
print(CDPOS)

     MANDANT OBJECTCLAS    OBJECTID    CHANGENR TABNAME              TABKEY  \
0        010  EINKBELEG  4700001106  0051867463    EKPO  010470000110600030
1        010  EINKBELEG  4700001106  0051867463    EKPO  010470000110600030
2        010  EINKBELEG  4700001106  0051873447    EKPO  010470000110600030
3        010  EINKBELEG  4700001106  0051873447    EKPO  010470000110600030
4        010  EINKBELEG  4700001106  0051874715    EKPO  010470000110600030
...      ...        ...         ...         ...     ...                 ...
2460     010  EINKBELEG  0072119260  0077732569    EKPO  010007211926000010
2461     010  EINKBELEG  0072119260  0077732569    EKPO  010007211926000010
2462     010  EINKBELEG  4700001512  0078247278    EKPO  010470000151200020
2463     010  EINKBELEG  4700001512  0078247278    EKPO  010470000151200020
2464     010  EINKBELEG  4700001512  0078247278    EKPO  010470000151200020

      FNAME CHNGIND       VALUE_NEW       VALUE_OLD
0     NETPR       U        25000.00        15000.00
1     NETWR       U        25000.00        15000.00
2     NETPR       U        50000.00        25000.00
3     NETWR       U        50000.00        25000.00
4     NETPR       U        25000.00        50000.00
...     ...     ...             ...             ...
2460  NETPR       U         5000.00         5100.00
2461  NETWR       U         5000.00         5100.00
2462  AFNAM       U               0             NaN
2463  NETPR       U        90000.00        60000.00
2464  NETWR       U        90000.00        60000.00

[2465 rows x 10 columns]